/* Dashboard.css */
.dashboard-container {
  display: flex;
  transition: all 0.3s ease; /* Smooth transition */
  width: 100vw;
  height: 100vh;
}

.dashboard-sidebar {
  width: 250px; /* Adjust as per your design */
  transition: width 0.3s ease;
}

.dashboard-sidebar.closed {
  width: 0;
}

.dashboard-main {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.dashboard-main.collapsed {
  width: calc(100% - 10px);
}

.dashboard-main.expanded {
  width: 10px;
}

  